*.obj
*.old
*.pdb
*.user
*.aps
*.pch
*.opensdf
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.scc
*.sdf
*.DS_Store
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
_ReSharper*/
Help/*
[Tt]est[Rr]esult*
[Bb]uild[Ll]og.*
*.[Pp]ublish.xml
BuildProcessTemplates/*
Published/*
[Tt]humbs.db
[Uu]pgradeLog*.[Xx][Mm][Ll]
_[Uu]pgradeReport_Files*/
*.build.csdef
[Pp]ackages/*
ASPNETDB.MDF
aspnetdb_log.ldf
*.sap
*/PerformanceLogs/*
!Debugging
Scripts/IsolatedStorage*
/packages
*.ncrunchsolution
*.DotSettings
*/DependencyInjection/InjectionSpecification.cs
*/DependencyInjection/InjectionSpecification.Apollo.cs
CommonAssemblyInfo.cs
Jenkins-Me.bat
Nokia.Media.MusicClient/Models/Environment/Xml/*.cs
bddhost.txt
